<div class="card" style="position: relative; left: 0px; top: 0px;">
    <div class="card-header">
        <h3 class="card-title">Todos os paises</h3>
    </div>
    <div class="card-body p-0">
        <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-responsive-sm">            
            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <img src="https://www.countryflags.io/{{element.id}}/shiny/16.png"  />
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> 
                    <a [routerLink]="['/country/', element.country | lowercase]">{{element.nome}} </a>                    
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="totalCasos" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total de Casos </th>
                <td mat-cell *matCellDef="let element"> {{element.totalCasos | number:'0.0-0'}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="totalAtivos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Ativos </th>
                <td mat-cell *matCellDef="let element"> {{element.totalAtivos | number:'0.0-0'}} </td>
            </ng-container>

            <ng-container matColumnDef="totalMortos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Mortos </th>
                <td mat-cell *matCellDef="let element"> {{element.totalMortos | number:'0.0-0'}} </td>
            </ng-container>

            <ng-container matColumnDef="estadoCritico">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Crítico </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoCritico | number:'0.0-0'}} </td>
            </ng-container>


            <ng-container matColumnDef="mortalidade">
                <th mat-header-cell *matHeaderCellDef> Mortalidade </th>
                <td mat-cell *matCellDef="let element"> {{ (element.totalMortos / element.totalCasos) * 100 | number:'0.2-2' }} % </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="card-footer clearfix">
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>