<div class="card bg-primary">
    <div class="overlay" *ngIf="isLoading">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
    <div class="card-header border-0">
        <h3 class="card-title">
            <i class="fas fa-map-marker-alt mr-1"></i>
            Número de casos por país
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-primary btn-xs" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="world-map" style="height: 300px; width: 100%;">
            
        </div>
    </div>
</div>