<world-status></world-status>
<div class="row">
    <section class="col-lg-7 connectedSortable">
        <top-affected-countries></top-affected-countries>
    </section>
    <section class="col-lg-5 connectedSortable">
        <world-view></world-view>
    </section>
</div>
<div class="row">
    <section class="col-12 connectedSortable">
        <all-countries-table></all-countries-table>
    </section>
</div>
<div class="row">
    <section class="col-12 connectedSortable">
        <div class="card bg-gradient-info" style="position: relative; left: 0px; top: 0px;">
            <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
                <h3 class="card-title">
                    <i class="fas fa-chart-line"></i>
                    Evolução temporal
                </h3>
        
                <div class="card-tools">
                    <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div id="chart-div" style="height: 500px; width: 100%;">
        
                </div>
            </div>
        </div>
    </section>
</div>