<div class="card card-danger card-outline">
    <div class="overlay dark" *ngIf="isLoading">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </div>
    <div class="card-header">
        <h3 class="card-title">
            Mortalidade
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <div id="pie-chart"></div>
    </div>
</div>  