<div class="card">
    <div class="overlay" *ngIf="isLoading">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Países mais afetados
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-info btn-xs" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="chart-div" style="height: 300px; width: 100%;">
        
        </div>
    </div>
</div>