/* You can add global styles to this file, and also import other style files */
.content-wrapper, .main-header, .main-footer {
    margin-left: 0px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
