<footer class="main-footer text-sm">
    <div class="float d-none d-sm-inline-block text-center">
        <a href="https://github.com/renan-saraiva" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        &nbsp;&nbsp;&nbsp;
        <a href="https://www.linkedin.com/in/renan-saraiva/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
    </div>  
    <div class="float-right d-none d-sm-inline-block">
      <b>Developed by</b> Renan Saraiva
    </div>
</footer>